# ==========================
# Virtual Environment
# ==========================
venv/
.venv/
env/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Python Cache
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Flask
# ==========================
instance/
.webassets-cache

# ==========================t 
.coverage
htmlcov/

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Jupyter Notebook
# ==========================
.ipynb_checkpoints/

# ==========================
# Translation History (Optional)
# Uncomment if you don't want to upload it
# ==========================
# history/history.json