<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Language Translator</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>

<body>

    <div class="container">

        <h1><i class="fa-solid fa-language"></i> Language Translator</h1>

        <p class="subtitle">
            Translate text between multiple languages instantly.
        </p>

        <textarea id="text"
            placeholder="Type your text here..."></textarea>

        <div class="controls">
<select id="source">

    {% for name, code in languages.items() %}

    <option
        value="{{ code }}"
        {% if code == "auto" %}
        selected
        {% endif %}
    >
        {{ name }}
    </option>

    {% endfor %}

</select>

            <button id="swapBtn" title="Swap Languages">
                <i class="fa-solid fa-right-left"></i>
            </button>

            <select id="target">

                {% for name, code in languages.items() %}

                <option value="{{ code }}"
                    {% if code=="ur" %}selected{% endif %}>
                    {{ name.title() }}
                </option>

                {% endfor %}

            </select>

        </div>

        <button class="translate-btn" onclick="translateText()">
            <i class="fa-solid fa-language"></i>
            Translate
        </button>

        <div class="output">

            <h2>Translated Text</h2>

            <div id="result">
                Your translation will appear here...
            </div>

        </div>

    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>